@charset "utf-8";
@import url(../css/main.css);

.login{
    padding: 70px;
}

.login-wrapper {
  margin: 0 auto;
  width: 400px;
  height: auto;
  padding: 40px;
  box-sizing: border-box;
}

.login-wrapper > h2 {
  font-size: 24px;
  color: #ff4092;
  margin-bottom: 20px;
}
#login-form > input {
  width: 100%;
  height: 48px;
  padding: 0 10px;
  box-sizing: border-box;
  margin-bottom: 16px;
  border-radius: 6px;
  background-color: #f8f8f8;
}
#login-form > input::placeholder {
  color: #d2d2d2;
}
#login-form > input[type="submit"] {
  color: #fff;
  font-size: 16px;
  background-color: #ff4092;
  margin-top: 20px;
}
#login-form > input[type="checkbox"] {
  display: none;
}
#login-form > label {
  color: #999999;
}
#login-form input[type="checkbox"] + label {
  cursor: pointer;
  padding-left: 26px;
  background-image: url("checkbox.png");
  background-repeat: no-repeat;
  background-size: contain;
}
#login-form input[type="checkbox"]:checked + label {
  background-image: url("checkbox-active.png");
  background-repeat: no-repeat;
  background-size: contain;
}
