@charset "utf-8";
@import url(font.css);
* {
  box-sizing: border-box;
  /* color: #000; */
}
a {
  text-decoration: none;
}
img {
  vertical-align: middle;
}
html {
  font-size: 16px;
}
body {
  font-family: "SKYBORI";
  font-weight: 400;
}

/* 전체레이아웃 */
/* 상단 */
.warp {
  width: 100%;
  height: 100%;
}
.nav {
  background-color: #d9d9d9;
  width: 100%;
  height: 30px;
}
.nav ul {
  width: 100%;
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.nav ul li a {
  color: #818181;
  padding: 0 30px;
}
/* 로고 */
.header {
  display: flex;

  position: relative;
  width: 100%;
  height: 150px;
  background-color: rgb(255, 175, 175);
}
.header-logo {
  width: 30%;
}
.logo {
  display: block;
  background: url("../images/totologo/to.png") no-repeat center;
  background-size: cover;
  width: 150px;
  height: 150px;
  position: absolute;
  top: 0px;
  left: 50px;
}
#logo {
  position: absolute;
  top: 50px;
  left: 250px;
  font-size: 40px;
}

.menu {
  width: 60%;
  height: 100%;
  font-size: 30px;
  color: #000;
}
.mainmenu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #818181;
}
.mainmenu li {
  position: relative;
  display: block;
  color: #fff;
  transition: all 0.5s;
}
.mainmenu li::after {
  content: "";
  position: absolute;
  bottom: -5px;
  height: 2px;
  width: 5px;
  opacity: 0;
  background-color: #fff;
  transition: all 0.5s;
}
.mainmenu li:hover {
  opacity: 1;
}
.mainmenu > li > a {
  display: block;
  width: 200px;
  padding: 10px 5px;
  color: #000;
}
.submenu {
  display: none;
  position: absolute;
  display: flex;
  flex-direction: row;
  width: 100%;
}
.submenu li a {
  padding-left: 5px;
  width: 100%;
  font-size: 20px;
  color: #000;
}
.submenu li a span {
  color: #000;
}
.submenu li a:hover {
  color: aquamarine;
}
/* 푸터 */
footer {
  width: 100%;
  background-color: #d9d9d9;
  border-top: 1px solid #b0afaf;
  margin: 0 auto;
}
footer .inner {
  width: 80%;
  background-color: blueviolet;
  margin: auto;
}
.footer-top {
  display: flex;
  justify-content: space-around;
  background-color: aqua;
}

.footer-menu {
  display: flex;
}
.footer-logo {
  width: 200px;
  height: auto;
  background: url("./images/로고이미지.png") no-repeat center;
  padding: 10px 10px;
}
.menu1,
.menu2 {
  height: 20px;
  margin: 40px;
  color: #333;
  font-size: 12px;
  font-weight: 700;
}

.menu1 li {
  position: relative;
  margin-right: 10px;
}

footer .menu2 li {
  position: relative;
}

footer .menu3 li {
  text-align: center;
}
footer .menu3 li::before {
  content: "";
  width: 1px;
  height: 12px;
  background-color: #767676;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: -7px;
}
footer .menu2 .menu3 li:first-child::before {
  display: none;
}
footer .menu1 .menu2 .menu3 li:last-child::before {
  display: none;
}
footer a {
  color: #333;
  font-size: 12px;
  display: block;
  font-weight: 700;
  display: block;
  margin-bottom: 5px;
}
footer address {
  font-size: 12px;
  text-align: center;
  margin-top: 12px;
  margin-top: 20px;
  color: #fff;
  background-color: #000;
}
