@charset "utf-8";
/* 가로가 1280px */

@media screen and (max-width: 1785px) {
  .mb ul {
    display: inline-block;
    padding-left: 380%;
  }
  .menu {
    display: none;
  }
}
@media screen and (max-width: 1141px) {
  .mb ul {
    display: inline-block;
    padding-left: 330% !important;
  }
  .menu {
    display: none;
  }

  .bottom-menu span {
    font-size: 20px;
  }
}
@media screen and (max-width: 320px) {
  #logo {
    display: none;
  }
  .logo {
    display: none;
  }
  .distodok {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .discount {
    width: 130%;
  }
}

@media screen and (max-width: 1280px) {
  .mb ul {
    display: inline-block;
    padding-left: 350%;
  }
  .mb ul li {
  }
  .header {
    display: none;
  }

  .menu {
    display: none;
  }
  .distodok {
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
  }
  .discount {
    width: 47% !important;
  }
}
@media screen and (max-width: 768px) {
  .header-logo #logo {
    display: none;
    font-size: 1.5rem;
  }
  .mb ul {
    display: inline-block;
    padding-left: 280% !important;
  }
  .main .swiper-slide img {
    width: 100%;
    height: 30%;
    overflow: hidden;
  }
  .serch-bar input {
    width: 40%;
  }
  .keyword li button {
    padding: 10px 0px;
  }
  .toto {
    width: 30%;
  }
  .distodok {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
  .discount {
    width: 60% !important;
  }
  .review {
    flex-direction: column;
    align-items: center;
  }
  .review1 {
    width: 70% !important;
    margin-bottom: 30px !important;
  }
  .review1 h2 {
    font-size: 0.9rem !important;
    line-height: 0;
  }
  .review p {
    margin: none;
    line-height: 0;
    font-size: 1rem !important;
    .footer-menu ul li {
      display: none;
    }
    .footer-top {
      position: relative;
    }
    .footer-top img {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 20%;
      transform: translate(-50%, -50%);
    }
  }
  .footer-logo {
    justify-content: center;
  }

  .footer-menu ul li {
    display: none;
  }
  .footer-top {
    position: relative;
  }
  .footer-top img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20%;
    transform: translate(-50%, -50%);
  }
}
@media screen and (max-width: 320px) {
  .header-logo .logo {
    display: none;
  }
  .header-logo #logo {
    display: block;
    font-size: 2rem;
  }
  .mb ul {
    display: inline-block;
    padding-left: 100% !important;
  }
  .keyword {
    flex-wrap: wrap;
  }
  .keyword li {
    padding-left: 10px;
  }
  .keyword li button {
    margin: 0 !important;
  }
  .keyword li button a {
    display: block;
    margin: 0 !important;
    padding: 0 !important;
    font-size: 16px !important;
  }
  .distodok {
    flex-direction: column;
    width: 80% !important;
    align-items: center;
  }
  .discount {
    width: 80% !important;
  }
  .freebox button {
    width: 80% !important;
  }
  .freebox button h1{
    font-size: 30px !important;
  }
  #countdown{
    font-size: 25px !important;
  }
  .review {
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
  }
  .review1 h2 {
    font-size: 0.7rem !important;
    line-height: 0;
  }
  .review p {
    margin: none;
    line-height: 0;
    font-size: 1rem !important;
  }
  .review1 {
    width: 100% !important;
  }
  .free2 h2{
    font-size: 20px !important;
  }
  .free2 p{
    font-size: 16px !important;
  }

  .footer-logo {
    justify-content: center;
  }

  .footer-menu ul li {
    display: none;
  }
  .footer-top {
    position: relative;
  }

  .footer-top img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    transform: translate(-50%, -50%);
  }
  .menu3 li a {
    font-size: 10px;
  }
  .menu3 {
    clear: both;
  }
}
/* 인기상품페이지 */
@media screen and (max-width:768px) {
  .shop{
      width: calc(100% / 3 - 10px);
  }
  
}
@media screen and (max-width:320px) {
  .shop{
      width: calc(100% / 2 - 10px);
  }
  
}