@charset "utf-8";
/* 가로가 1280px */
@media screen and (max-width: 1785px) {
  #logo {
    display: none;
  }
}
@media screen and (max-width: 1141px) {
  .bottom-menu span {
    font-size: 20px;
  }
}
@media screen and (max-width: 320px) {
    .distodok{
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .discount{
    width: 130%;

}
