@charset "utf-8";
/* 가로가 1280px */

@media screen and (max-width: 1785px) {
  .mb ul {
    display: inline-block;
    padding-left: 400px;
  }
  .menu{
    display: none;
  }
}
@media screen and (max-width: 1141px) {
  .bottom-menu span {
    font-size: 20px;
  }
}
<<<<<<< HEAD
@media screen and (max-width: 320px) {
  #logo{
    display: none;
  }
  .logo{
    display: none;
  }
  .distodok{
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .discount{
    width: 130%;
    }
  }
=======
>>>>>>> 8c9b52aedd7fc3c226387537e673563b64d09e68
@media screen and (max-width: 1280px) {
  .mb ul {
    display: inline-block;
    padding-left: 200px;
  }
  .mb ul li {
  }
  .header {
    display: none;
  }

  .menu {
    display: none;
  }
  .distodok {
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
  }
  .discount {
    width: 47% !important;
  }
}
@media screen and (max-width: 768px) {
<<<<<<< HEAD
  .main .swiper-slide img{
=======
  .header-logo #logo {
    display: block;
    font-size: 1.5rem;
  }
  .mb ul {
    display: inline-block;
    padding-left: 300px;
  }
  .main .swiper-slide img {
>>>>>>> 8c9b52aedd7fc3c226387537e673563b64d09e68
    width: 100%;
    height: 30%;
    overflow: hidden;
  }
  .serch-bar input {
    width: 40%;
  }
  .keyword li button {
    padding: 10px 0px;
  }
  .toto {
    width: 30%;
  }
  .distodok {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
  .discount {
    width: 60% !important;
  }
  .review {
    flex-direction: column;
    align-items: center;
  }
  .review1 h2 {
    font-size: 12px;
  }
  .review1 {
    width: 70% !important;
    margin-bottom: 30px !important;
  }
  .review1 p {
    font-size: 8px;
  }
  .footer-menu ul li {
    display: none;
  }
  .footer-top {
    position: relative;
  }
  .footer-top img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20%;
    transform: translate(-50%, -50%);
  }
}
<<<<<<< HEAD
  
  
  
  
  
  
  
  
/*   
  
  .distodok{
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .footer-logo {
      justify-content: cneter;
    }
 .menu1,
 .menu2{
  display: none;
 }
.footer li a {
  text-align: center;
  font-size: 10px;
}
 */







 }
=======
@media screen and (max-width: 320px) {
  .header-logo .logo {
    display: none;
  }
  .header-logo #logo {
    display: block;
    font-size: 2rem;
  }
  .mb ul {
    display: inline-block;
    padding-left: 50px;
  }
  .keyword {
    flex-wrap: wrap;
  }
  .keyword li {
    padding-left: 10px;
  }
  .keyword li button {
    margin: 0 !important;
  }
  .keyword li button a {
    display: block;
    margin: 0 !important;
    padding: 0 !important;
    font-size: 16px !important;
  }
  .distodok {
    flex-direction: column;
    width: 100% !important;
    align-items: center;
  }
  .discount {
    width: 80% !important;
  }
  .freebox {
    width: 40%;
  }
  .freebox h1{
    width: !important;
  }
  .review {
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
  }
  .review1 h2 {
    font-size: 12px;
  }
  .review1 {
    width: 100% !important;
  }
  .review1 p {
    
  }

  .footer-logo {
    justify-content: center;
  }

  .footer-menu ul li {
    display: none;
  }
  .footer-top img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    transform: translate(-50%, -50%);
  }
  .menu3 li a {
    font-size: 10px;
  }
  
}
>>>>>>> 8c9b52aedd7fc3c226387537e673563b64d09e68
